@import "../node_modules/bootstrap/dist/css/bootstrap.rtl.min.css";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Hebrew:wght@100;200;300;400;500;600;700&display=swap');

#root {
  /* background-color: rgba(88, 250, 88, 0.336); */
  font-family: "IBM Plex Sans Hebrew", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



img {
  object-fit: cover;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.logo {
  position: relative;
  left: 5px;
  top: 120px;
  height: 100px;
  filter: drop-shadow(0px 0px 5px rgb(255, 255, 255));
  -webkit-filter: drop-shadow(0px 0px 5px rgb(255, 255, 255));
}

.login {
  background: radial-gradient(rgba(0, 255, 34, 0.411), rgb(0, 0, 0)), url("./assets/login-register.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  & form {
    max-width: 696px;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.8);
    margin: auto;
    margin-bottom: 4rem;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }
}


h1 {
  margin-top: 100px;
  background: #ffffffa4;
}

.about-section p,
main p {
  background: #ffffffa4;
  padding: 1rem;
}

.logout {
  margin: 1rem;

  &:hover {
    background: black !important;
  }
}

.link-success:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

/* loading Stytle */
main .loader {
  width: 80px;
  height: 40px;
  border-radius: 0 0 100px 100px;
  border: 5px solid #538a2d;
  border-top: 0;
  box-sizing: border-box;
  background:
    radial-gradient(farthest-side at top, #0000 calc(100% - 5px), #e7ef9d calc(100% - 4px)),
    radial-gradient(2px 3px, #5c4037 89%, #0000) 0 0/17px 12px,
    #ff1643;
  --c: radial-gradient(farthest-side, #000 94%, #0000);
  -webkit-mask:
    linear-gradient(#0000 0 0),
    var(--c) 12px -8px,
    var(--c) 29px -8px,
    var(--c) 45px -6px,
    var(--c) 22px -2px,
    var(--c) 34px 6px,
    var(--c) 21px 6px,
    linear-gradient(#000 0 0);
  mask:
    linear-gradient(#000 0 0),
    var(--c) 12px -8px,
    var(--c) 29px -8px,
    var(--c) 45px -6px,
    var(--c) 22px -2px,
    var(--c) 34px 6px,
    var(--c) 21px 6px,
    linear-gradient(#0000 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude, add, add, add, add, add, add;
  -webkit-mask-repeat: no-repeat;
  animation: l8 3s infinite;
  -webkit-animation: l8 3s infinite;
}

@keyframes l8 {
  0% {
    -webkit-mask-size: auto, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0
  }

  15% {
    -webkit-mask-size: auto, 20px 20px, 0 0, 0 0, 0 0, 0 0, 0 0
  }

  30% {
    -webkit-mask-size: auto, 20px 20px, 20px 20px, 0 0, 0 0, 0 0, 0 0
  }

  45% {
    -webkit-mask-size: auto, 20px 20px, 20px 20px, 20px 20px, 0 0, 0 0, 0 0
  }

  60% {
    -webkit-mask-size: auto, 20px 20px, 20px 20px, 20px 20px, 20px 20px, 0 0, 0 0
  }

  75% {
    -webkit-mask-size: auto, 20px 20px, 20px 20px, 20px 20px, 20px 20px, 20px 20px, 0 0
  }

  90%,
  100% {
    -webkit-mask-size: auto, 20px 20px, 20px 20px, 20px 20px, 20px 20px, 20px 20px, 20px 20px
  }
}


.gradient {
  background: radial-gradient(#11171cb4, #16181b8e), url("./assets/login-register.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  overflow: hidden;
}

.card {
  border-radius: 10px;
  box-shadow: 0 5px 6px rgb(49, 49, 49);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  -webkit-transition: transform 0.3s ease, box-shadow 0.3s ease;
  -moz-transition: transform 0.3s ease, box-shadow 0.3s ease;
  -ms-transition: transform 0.3s ease, box-shadow 0.3s ease;
  -o-transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}

.btn {
  border-radius: 10px;
  font-weight: bold;
  padding: 10px 15px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-transition: background-color 0.3s ease, transform 0.2s ease;
  -moz-transition: background-color 0.3s ease, transform 0.2s ease;
  -ms-transition: background-color 0.3s ease, transform 0.2s ease;
  -o-transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn:hover {
  background-color: #00b368;
}

.modal-body {
  font-size: 1.1rem;
}

.nav {
  background: #000000ec;
}

.nav-item:hover {
  transform: translateY(-5px);
  color: #fff;
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
}

.nav-link.active {
  border-bottom: 3px solid #e60000 !important;
}


.nav-link:hover {
  color: #fff;
  background-color: #00b336;
  border-radius: 5px;
  transition: all 0.3s ease;
}

footer {
  background-color: #03090F;
}